.errorMessage{
    color: red;
    font-weight: bold;
}

.comparativeTables{
    margin: 1em 0 1em 0;
    min-width: 100px;
    display: flex;
    gap: 1em;
}

.investment-calculator-title{
    font-size: medium;
    margin-bottom: 1em;
}

.investment-calculator-inputs{
    display: flex;
    margin: 2em 0 2em 0;
    column-gap: 1em;
}